<h1><%= @garment.name.capitalize%></h1>

<table>
  <thead>
    <td>
      Color
    </td>
    <td>
      Material
    </td>
    <td>
      Price
    </td>
    <td>
      Cool?
    </td>
  </thead>
  <tbody>
    <td>
      <%= @garment.color %>
    </td>
    <td>
      <%= @garment.material %>
    </td>
    <td>
      <%= @garment.price%>
    </td>
    <td>
      <% if @garment.cool %>
      Totally!
      <% else %>
      Nah
      <% end %>
    </td>
  </tbody>
</table>
